#mceu_31 {
    display: none;
}
.fa-trash {
    color: red;
}
/* Promotion Page */
.promotion_part {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
}
.promo-img {
    width:13%;
    height: 13%;
}
.promotion_part .form-control{
    width: 30%;
    margin: 0 auto;
}
/* Promotion Page */

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: #fff;
}
.bg-dark {
    background-color: #00adef !important;
}
.home-box {
    border: 1px solid #fff;
    padding: 5px;
    margin-left: 5px; 
    height: 160px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 7px 2px cadetblue;
    margin-bottom: 20px;
}
.home-inner-box{
    border: none;
    background: #00adef;
    height: 32px;
    width: 100%;
    padding-left: 10px;
    padding-top: 3px;
    font-weight: 700;
}
.count {
    float: right;
    margin-right: 5px;
    background: #fff;
    border-radius: 5px;
    padding: 1px;
}
.jssor_first {
    position:relative;
    margin:0 auto;top:0px;
    left:0px;width:960px;
    height:480px;overflow:hidden;
    visibility:hidden;
    background-color:#24262e;
}
.loading_jssor {
    position:absolute;
    top:0px;left:0px;
    width:100%;
    height:100%;
    text-align:center;
    background-color:rgba(0,0,0,0.7);
}
.jssor_spin {
    margin-top:-19px;
    position:relative;
    top:50%;
    width:38px;
    height:38px;
}
.jssor_navigate {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:480px;
    background-color:#f5f5f5;
}
.arrowleft_jssor {
    width:50px;
    height:50px;
    top:0px;
    left:270px;
}
.svg_style {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.arrowright_jssor{
    width:50px;
    height:50px;
    top:0px;
    right:30px;
}
.sliders_style {
    cursor:default;
    position:relative;
    top:0px;
    left:240px;
    width:720px;
    height:480px;
    overflow:hidden;
}

.fa-text {
    color: #d0caca;
}
.fa-icon {
    color: #d0caca !important;
}
.setting_button .btn.focus, .setting_button .btn:focus {
	box-shadow: none;
}
.setting_button .btn {
    margin-top: 10px;
}
.search_part {
	margin: 0 auto;
	text-align:center;
}
.search_part_mail {
	border: 1px solid #00adef;
	padding:15px;
	margin: 5px;
}
.dash-button a {
	color: #fff !important;
}
#main, #main_two, #main_three, #main_four, #main_five, #main_six{
	clear:right;
	border: 2px solid #00adef;
	height:65px;
	width:100px;
}

#create_moderator, #viwe_moderators, #change_pass, #edit_profile, #bath_room_diff, #room_cat_id, #others_cat, #day_basis_rent, #room_bed_basis, #another_mobile_id_3, #mobile_add_3, #mobile_add_2, #another_mobile_id, #land_cat, #unit_cat, #sell, #rent, #details_info, #interested_peo, #bed, #bath, #rent_cat, #sell_cat, #interested_cat, #details_form, #another_mobile, #main, #main_two, #main_three, #main_four, #main_five, #main_six, #imgtwo, #imgthree, #imgfour, #imgfive, #imgsix{
  display: none;
}
#publish{
	margin-bottom: 20px;
}
.dash-form {
}
.single-option a, .add-share a {
    margin-right: 10px;
}
.dash-button .btn {
    margin-bottom: 10px;
}
.btn {
    background-color: #00adef !important;
    color: #fff;
    border: 1px solid transparent !important;
    text-decoration: none !important;
    border-radius: 5px !important;
    font-weight: 400 !important;
}
a:hover{
   color: #2980b9  !important;
}
.btn:hover{
    background-color: transparent !important;
    text-decoration: none !important;
    border: 1px solid #00adef !important;
    border-radius: 5px !important;
    font-weight: 400 !important;
    color: #00adef;
}
.btn:visited, .btn:focus, .btn:active{
    background-color: transparent !important;
    text-decoration: none !important;
    border: 1px solid #00adef !important;
    border-radius: 5px !important;
    font-weight: 400 !important;
}
.table, th {
	text-align: center;
}
a, a:hover {
	text-decoration: none;
}
.make-add {
    margin-top: 20px;
}
.pagi-brand {
    text-align: center;
}
.pagination {
    display: inline-flex;
    padding-left: 0;
}
.flat-single .table, .flat-single th {
    text-align: left;
}
.flat-single td {
    padding: 7px 0px 7px 10px;
}
.inline-text {
    margin: 0;
    padding: 0;
    display: inline-table;
}
.report {
    border: 2px solid red;
    padding: 5px;
    margin-bottom: 10px;
}
.report p {
    margin: 0;
    padding: 0;
}