.jssor_first {
	position:relative;
	margin:0 auto;top:0px;
	left:0px;
	width:960px;
	height:480px;
	overflow:hidden;
	visibility:hidden;
	background-color:#24262e;
}
.loading_jssor {
	position:absolute;
	top:0px;left:0px;
	width:100%;
	height:100%;
	text-align:center;
	background-color:rgba(0,0,0,0.7);
}
.jssor_spin {
	margin-top:-19px;
	position:relative;
	top:50%;
	width:38px;
	height:38px;
}
.jssor_navigate {
	position:absolute;
	left:0px;
	top:0px;
	width:240px;
	height:480px;
	background-color:#f5f5f5;
}
.arrowleft_jssor {
	width:50px;
	height:50px;
	top:0px;
	left:270px;
}
.svg_style {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.arrowright_jssor{
	width:50px;
	height:50px;
	top:0px;
	right:30px;
}
.sliders_style {
	cursor:default;
	position:relative;
	top:0px;
	left:240px;
	width:720px;
	height:480px;
	overflow:hidden;
}
/*Print*/
.print_image {
	display: none;
}
@media print{
    * {
        font-weight: normal !important;
    }
    .single-related, footer, header, .make-add, .print_pdf, .clearfix, .print_able{
        display: none;
    }
    a[href]:after
    {
        display: none;
        visibility: hidden;
    }
    .single-option a 
    {
        border: none;
    }
    #jssor_1
    {
        display: none;
    }
    .print_image {
        display: block;
    }
}   
/*Print*/



#d29, #d30, #d31 {
	display:none;
}
#interested_peo, #month_basis_cat, #hotel_bording, #otherCat_add, #land_basis_cat, #sell_basis_cat {
	display:none;
}
/*Contact Page*/
.contact_part{
	margin: 0 auto;
	padding-bottom: 50px;
	padding-top: 30px;
	text-align: center;	
}
.contact_part .form-control{
	width: 50%;
	margin: 0 auto;
}
/*Contact Page*/

/* Promotion Page */
.promotion_part {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 30px;
}
.promo-img {
	width:13%;
	height: 13%;
}
.promotion_part .form-control{
	width: 30%;
	margin: 0 auto;
}
/* Promotion Page */
/* Home Page CSS Start */
.brdr_img {
	box-shadow: 5px 5px #b3b6b7;
}
.modal {
	margin-top: 40px;
}
.modal-footer {
    display: -ms-flexbox;
    display: contents;
    display: flow-root;
    -ms-flex-align: center;
    align-items: content;
    text-align: center;
    -ms-flex-pack: end;
    justify-content: unset;
    padding: 15px;
    border-top: 1px solid #e9ecef;
}
.modal-footer a {
	color: #fff !important;
}
.modal-footer a:hover {
	color: #00adef !important;
}
.modal-body {
	text-align: center;
} 
.modal-body label {
	text-align: left !important;
}
.modal-footer .btn {
	border-radius: inherit;
}
.forget_signup {
	text-align: center;
	padding-bottom: 10px;
}
.forget_signup  a{
	text-decoration: none;
	margin-left: 10px;
}
#reset_pass, #reset_re_pass, #reset_code {
	display: none;
}
.inline-text {
	display: inline-block;
}
.fa-text {
	color: #d0caca;
}
.fa-text .fa{
	color: #d0caca !important;
}
.fa-icon {
	color: #d0caca !important;
}
.inline-text .fa {
	color: #00adef;
}
.form-control:focus {
    box-shadow: none;
}
.form-control {
    border-radius: 0;
}
.hero-area {
	/*background: #e7edee;*/
}
.icon-box {
	text-align: center;
	border: 1px solid white;
	padding-top: 20px;
	padding-bottom: 20px;
    overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-breaker {
	margin-top: 30px;
}
.right-nav a{
	text-decoration: none;
}
.right-nav ul, .right-nav li{
	list-style-type: none;
}
.icon-box a {
	color: #0072bb;
	text-decoration: none;
}

.clearfix {
	clear: both;
}
.breaker {
	margin-top: 100px;
}
.icon-box i {
	color: #00adef;
}
/* Home Page CSS End */

/* Search Page Start */
.search {
	padding: 20px 0px;
}
.search button {
	background: #00adef;
	color: #fff;
	padding: 7px 40px;	
    border: 1px solid transparent;
}
.search form {
	margin: 0 auto;
	text-align: center;
}
.search button:hover, .search button:focus, .search button:active{
    color: #fff;
    background-color: #00adef;
    border-color: #00adef;
}
.search .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #00adef;
    border-color: #00adef;
}
.search .form-control {
    padding: 3px;
}
.from-padding {
	/*padding-bottom: 500px;*/
}
.flat-item-search {
	background: #fbfbfb;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #f4f4f4;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.flat-item-search:hover {
	background: #eee;
	border: 1px solid #00adef;
}
.flat-item-search .flat-desciption a {
	text-decoration: none;
	color: #00adef;
}
.flat-item-search .flat-desciption p {
	margin: 0 0 5px;
}
.flat-item-search .flat-desciption .btn-default {
	background: #00adef;
	color: #fff;
	padding: 5px 15px;
}
.flat-item-search .flat-image img{
	width: 100%;
    max-height: 280px;
}
.flat-item-search .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #00adef;
}
.flat-item-fa {
	width: 3% !important;
	text-align: center;
	font-weight: 900;
	color: #00adef;
}
.search-pagination nav {
	margin: 0 auto;
	text-align: center;
}
.search-pagination nav li{
	padding: 0px;
	float: left;
}
.search-pagination li > a:before{
    background-color: transparent;
}
/*.flat-item-heading {
	width: 50% !important;
}*/
/* Search Page End */

/*Flat Single*/
.print_pdf p {
	display: inline;
}
.print_pdf .btn {
	margin-bottom: 20px;
}
.flat-single, .single-related-item {
	background: #fbfbfb;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #f4f4f4;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.flat-single .flat-desciption .btn-default, .single-related-item .flat-desciption .btn-default {
	background: #00adef;
	color: #fff;
	padding: 5px 15px;
	margin-left: 40px;
}
.flat-single .flat-desciption table{
	margin-left: 20px;
}
.flat-single .flat-desciption p, .single-related-item .flat-desciption p {
	margin: 0 0 5px;
}
.flat-single .flat-desciption a, .single-related-item .flat-desciption a {
	text-decoration: none;
	color: #00adef;
}
.single-related-item .flat-desciption table {
	margin-left: 0px;
}
.single-related-item {
	margin: 10px 11px;
}
.single-option a {
	margin-right: 10px;
	border: 1px solid #00adef;
	padding: 0px 5px;
}
.add-share i {
	border: 1px solid #00adef;
	padding: 5px;
}
.carousel-control.left, .carousel-control.right {
	background-image: none !important;
}
.carousel-control {
	width: 0;
	color: #000;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -20px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -24px;
}
.glyphicon  {
	color: #00adef;
}
.carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li {
    background-color: #fff;
    border: 1px solid #000;    
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #00adef;
    border: 1px solid transparent;
}
/*Flat Single*/

/* Footer CSS */
footer {
	background: #e7edee;
	border-top: 8px solid #77bb77;
	padding: 40px 0px 30px 0px;
}
.footer-nav a{
	text-decoration: none;
}
.footer-nav ul, .footer-nav li{
	list-style-type: none;
}
.navtoggle {
	margin-top: 365px;
	transition: background-color .3s;
}
